In [38]:
import numpy as np
import pandas as pd
import seaborn as sns

In [39]:
data=pd.read_csv('Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

In [40]:
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [42]:
from sklearn.decomposition import PCA

In [81]:
pca=PCA(n_components=27)

In [44]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [45]:
enc=LabelEncoder()

In [46]:
data['LocationAbbr']=enc.fit_transform(data['LocationAbbr'])

In [47]:
data['LocationDesc']=enc.fit_transform(data['LocationDesc'])

In [48]:
data['Datasource']=enc.fit_transform(data['Datasource'])

In [49]:
data['Class']=enc.fit_transform(data['Class'])

In [50]:
data['Topic']=enc.fit_transform(data['Topic'])

In [51]:
data['Question']=enc.fit_transform(data['Question'])

In [52]:
data['Data_Value_Type']=enc.fit_transform(data['Data_Value_Type'])

In [53]:
data['Data_Value_Footnote_Symbol']=enc.fit_transform(data['Data_Value_Footnote_Symbol'])

In [54]:
data['Data_Value_Footnote']=enc.fit_transform(data['Data_Value_Footnote'])

In [55]:
data['Total']=enc.fit_transform(data['Total'])

In [56]:
data['Age(years)']=enc.fit_transform(data['Age(years)'])

In [57]:
data['Education']=enc.fit_transform(data['Education'])

In [58]:
data['Gender']=enc.fit_transform(data['Gender'])

In [59]:
data['Income']=enc.fit_transform(data['Income'])

In [60]:
data['Race/Ethnicity']=enc.fit_transform(data['Race/Ethnicity'])

In [61]:
data['GeoLocation']=enc.fit_transform(data['GeoLocation'])

In [62]:
data['ClassID']=enc.fit_transform(data['ClassID'])

In [63]:
data['TopicID']=enc.fit_transform(data['TopicID'])

In [64]:
data['QuestionID']=enc.fit_transform(data['QuestionID'])

In [65]:
data['DataValueTypeID']=enc.fit_transform(data['DataValueTypeID'])

In [66]:
data['StratificationCategory1']=enc.fit_transform(data['StratificationCategory1'])

In [67]:
data['StratificationCategoryId1']=enc.fit_transform(data['StratificationCategoryId1'])

In [68]:
data['StratificationID1']=enc.fit_transform(data['StratificationID1'])

In [76]:
data['Stratification1']=enc.fit_transform(data['Stratification1'])

In [77]:
data.dropna(inplace=True,axis=1)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  int32
 3   LocationDesc                53392 non-null  int32
 4   Datasource                  53392 non-null  int32
 5   Class                       53392 non-null  int32
 6   Topic                       53392 non-null  int32
 7   Question                    53392 non-null  int32
 8   Data_Value_Type             53392 non-null  int32
 9   Data_Value_Footnote_Symbol  53392 non-null  int32
 10  Data_Value_Footnote         53392 non-null  int32
 11  Total                       53392 non-null  int32
 12  Age(years)                  53392 non-null  int32
 13  Education                   53392 non-null  int32
 14  Gender                      53392 non-null  int32
 15  Income                      53392 non-null  int32
 16  Race/Ethnicity              53392 non-null  int32
 17  GeoLocation                 53392 non-null  int32
 18  ClassID                     53392 non-null  int32
 19  TopicID                     53392 non-null  int32
 20  QuestionID                  53392 non-null  int32
 21  DataValueTypeID             53392 non-null  int32
 22  LocationID                  53392 non-null  int64
 23  StratificationCategory1     53392 non-null  int32
 24  Stratification1             53392 non-null  int32
 25  StratificationCategoryId1   53392 non-null  int32
 26  StratificationID1           53392 non-null  int32
dtypes: int32(24), int64(3)
memory usage: 6.1 MB

In [79]:
scaler=StandardScaler()
scaler.fit(data)
scaled=scaler.transform(data)

In [82]:
pca.fit(scaled)
pca_data=pca.transform(scaled)

In [86]:
variance_data=pca.explained_variance_ratio_.tolist()

In [96]:
sum(variance_data[:12])

0.9820037717716478

In [93]:
dim_red=PCA(n_components=12)

In [94]:
dim_red.fit(scaled)
new_data=dim_red.transform(scaled)

In [95]:
new_data.shape

(53392, 12)