In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("1st Provisional Merit List.xlsx - 11433-Provisional Merit List (1).csv")

In [17]:
df[df['CNIC']==3840185943709]

,Full Name,Father Name,CNIC,Enrollment No,Degree Title,Department,Campus,Year of Student,HSC Percentage,CGPA
4915,ASAD,MUHAMMAD NAEEM,3840185943709,22-UE-02295,BS (Hons),Computer Science,DIVISION OF S&T,1,94.45,3.69